body{
    font-family: "Quicksand", serif;
}
.header {
    text-align: center;
}

.header h1{
    color: whitesmoke;
    font-size: 65px;
    text-emphasis-color: #9fcdff;
}

.header p{
    color: whitesmoke;
    top: 70%;
    font-size: 25px;
}

.form {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text_background {
    border-radius: 8px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
    background-color: maroon;
    color: #f7f7f7;
    padding: 20px 20px;
}

input {
    width: 100%;
    margin: 20px 0;
    background: rgba(0,0,0,0);
    border: none;
    border-bottom: 1px solid whitesmoke;
    color: beige;
}

::-webkit-input-placeholder {
    color: lightgoldenrodyellow;
    font-size: 12px;
    letter-spacing: 1px;
}

button {
    padding: 15px 20px;
    font-size: 16px;
    background: mediumpurple;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    color: whitesmoke;
}





































