#bg {
    background:grey;
}

.box input[type="button"] {
    height:30px;
    width:100px;
    background:#fff;
    border:1px solid #f2f2f2;
    border-radius:20px;
    color: slategrey;
    cursor:pointer;
}
.box input[type="text"],
.box input[type="password"] {
    max-width:400px;
    width: 80%;

    margin:1em 2em;
    border-radius:5px;
    border:2px solid #f2f2f2;
    outline:none;
}

.cat {
    color: #4b0082;
}

.cat_link:link{
    text-decoration: none;
    color: black;
}

.cat_link :active{
    text-decoration: none;
    color: orangered;
}

.cat_link:hover{
    text-decoration: none;
    color: mediumpurple;
}

.cat_link:visited{
    text-decoration: none;
    color: black;
}

.fp {
    font-family: 'Lobster', cursive;
    color: white;
    text-align: center;
    text-shadow: 6px 4px 2px #000000;
}
.int
{
    padding:10px;
}
