
#bg{
    background-color:#cac6c6;
}

.cat {

    font-family: 'Archivo Black', sans-serif;
    color: maroon;
}
.cat_name {
    font-family: 'Lobster', cursive;
}

.cat_link:link{
    text-decoration: none;
    color:maroon;
}

.cat_link :active{
    text-decoration: none;
    color: grey;
}

.cat_link:hover{
    text-decoration: none;
    color: black;
}

.cat_link:visited{
    text-decoration: none;
    color: black;
}

.img_padding {

    padding: 20px;
}

/*#navbar {
    border: 2px solid indigo;
    background: indigo;
}*/
.navitem{
    color: white;
    font-family: 'Spicy Rice', cursive;
}
.navitem1 {
    padding: 0px;
    font-family: 'Pacifico', cursive;
    color: white;
    font-weight: bolder;
    font-size: 70px;

}

.navbar-brand {
    text-align: left;
}

.navbar-header {
    float: right;
    padding: 15px;
    text-align: center;
    width: 100%;

}
.navbar-brand {float:none;}


.navbar-default {
    background-color: black;
    border-color: black;
}

.container-fluid{
    background-color: black;
}
.navitem1:active {
    text-decoration: none;
    color: white;
}

footer
{
    background-color: black;
    min-height: 200px;
    max-height: 500px;
    color: white;
    box-sizing:content-box;
    padding-bottom: 0;
    padding-right: 0;
}
.last {
    color: orangered;
}
.sss{
    color: black;
}
.lol
{
    color: orangered;
}